require('@nomiclabs/hardhat-waffle');

module.exports = {
  solidity: '0.8.0',
  networks: {
    rinkeby: {
      url: 'YOUR https://alchemy.com/ URL',
      accounts: ['YOUR WALLET PRIVATE KEY DONT SUBMIT TO GIT'],
    },
  },
};
